#instructions {
   color: #2b2;
}

#gridbutton {
   position: fixed;
   left: 0px;
   top: 0px;
}

#mapbutton {
   position: fixed;
   left: 45px;
   top: 0px;
}
#drawbutton {
   position: fixed;
   left: 235px;
   top: 0px;
}
#stylebutton {
   position: fixed;
   left: 315px;
   top: 0px;
}

#locationbutton {
   position: fixed;
   left: 500px;
   top: 0px;
}
#location {
   position: fixed;
   left: 900px;
   top: 0px;
   font-size: 24pt;
}

#mapbox {
   position: absolute;
   top: 100px;
}

.grid {
   width: 100px;
   height: 100px;
   float: left;
   margin-left: -36px;
   position: absolute;
   z-index: 3;
}

.gridImg {
   background: url('../img/hex3.png');
   background-size: 100px 100px;

   position: absolute;
   z-index: 5;
}



.alternate {
   margin-top: -38px;
}

.terrain {
   width: 60px;
   height: 60px;
   background-color: #ccc;
   margin: 20px;
   z-index: 5;
}

.easter {
   position: absolute;
   z-index: 2;
   width: 20px;
   height: 20px;
   right: 20px;
   bottom: 20px
}

.mapedge,
.tents {
   background-color: rgba(122, 122, 122, 0.75);
}

.pole,
.arctic,
.ruins {
   background-color: MediumTurquoise;
   background-color: rgba(72, 209, 204, 0.5);

}

.mapCircles {
   position: absolute;
   width: 5px;
   height: 5px;
   border-radius: 25%;
   transition: all 2s;
   text-align: center;
   padding: 50%;
}

.euro,
.euro_arab,
.euro_asia,
.euro_aztec,
.euro_nomad,
.euro_ruins,
.aztec,
.aztec_arab,
.aztec_asia,
.aztec_ruins,
.aztec_tents,
.asia,
.asia_ruins,
.arab,
.arab_asia,
.arab_ruins,
.arab_tents,
.nomad,
.nomad_ruins,
.tents,
.tents_nomad,
.tents_ruins,
.ruins,
.euro, .asia_, .aztec_, .arab_, .tents_, .nomad_, .ruins_ {
   left: 500px;
   top: 300px;
}

.asia_, .aztec_, .arab_, .tents_, .nomad_, .ruins_ {
   background-color: rgba(155, 155, 155, 0.25);
}


.euro {
   background-color: rgba(153, 50, 204, 0.5);

}
.euro_ {
   background-color: rgba(155, 55, 205, 0.25);

}

.euro_arab, .arab_euro {

   /* Arab
   background-color: rgba(128, 128, 0, 0.5);*/
   /*euro
   background-color: rgba(153, 50, 204, 0.5);*/
   /* DONE */
   background-color: rgba(140, 89, 102, 0.5);

}

.euro_asia, .asia_euro {
   /*euro
   background-color: rgba(153, 50, 204, 0.5);*/
   /* Asia 
   background-color: rgba(255, 215, 0, 0.5);*/
   /* DONE */
   background-color: rgba(204, 132, 102, 0.5);

}

.euro_aztec, .aztec_euro {
   /*euro
   background-color: rgba(153, 50, 204, 0.5);*/
   /* Aztec 
   background-color: rgba(220, 21, 61, 0.5); DONE*/
   background-color: rgba(185, 35, 132, 0.5);

}

.euro_nomad, .nomad_euro{
   /* NOMAD
   background-color: rgba(84, 204, 54, 0.5); */
   /*euro
   background-color: rgba(153, 50, 204, 0.5);*/
   background-color: rgba(0, 250, 154, 0.5);

}

.aztec {
   /* Aztec 
   background-color: rgba(220, 21, 61, 0.5);*/
   background-color: rgba(220, 21, 61, 0.5);
}
.aztec_ {
   /* Aztec 
   background-color: rgba(220, 21, 61, 0.5);*/
   background-color: rgba(225, 25, 65, 0.25);
}

.aztec_arab, .arab_aztec {
   /* Aztec 
   background-color: rgba(220, 21, 61, 0.5);*/
   /* Arab
   background-color: rgba(128, 128, 0, 0.5); DONE*/
   background-color: rgba(174, 74, 31, 0.5);
}

.aztec_asia, .asia_aztec {
   /* Aztec 
   background-color: rgba(220, 21, 61, 0.5);*/
   /* Asia 
   background-color: rgba(255, 215, 0, 0.5); DONE*/
   background-color: rgba(237, 118, 31, 0.5);
}

.asia {
   /* Asia 
   background-color: rgba(255, 215, 0, 0.5);*/
   background-color: rgba(255, 215, 0, 0.5);

}
.asia_ {
   /* Asia 
   background-color: rgba(255, 215, 0, 0.5);*/
   background-color: rgba(260, 220, 5, 0.25);

}

.arab {
   /* Arab
   background-color: rgba(128, 128, 0, 0.5);*/
   background-color: rgba(128, 128, 0, 0.5);

}
.arab_ {
   /* Arab
   background-color: rgba(128, 128, 0, 0.5);*/
   background-color: rgba(135, 135, 5, 0.25);

}

.arab_asia, .asia_arab {
   /* Arab
   background-color: rgba(128, 128, 0, 0.5);*/
   /* Asia 
   background-color: rgba(255, 215, 0, 0.5);*/
   /* DONE */
   background-color: rgba(191, 171, 0, 0.5);

}

.nomad {
   /* NOMAD
   background-color: rgba(84, 204, 54, 0.5); */
   background-color: rgba(84, 204, 54, 0.5);
}
.nomad_ {
   background-color: rgba(90, 210, 60, 0.25);
}

.tents {
   /* TENTS
   background-color: rgba(218, 165,  32, 0.6);*/
   background-color: rgba(218, 165, 32, 0.6);

}
.tents_ {
   /* TENTS
   background-color: rgba(218, 165,  32, 0.6);*/
   background-color: rgba(225, 170, 35, 0.25);

}


.tents_nomad,
/* NOMAD
   background-color: rgba(84, 204, 54, 0.5); */
/* TENTS
   background-color: rgba(218, 165,  32, 0.6);*/
.euro_tents,
/* TENTS
   background-color: rgba(218, 165,  32, 0.6);*/
.aztec_tents,
/* Aztec 
   background-color: rgba(220, 21, 61, 0.5);*/
/* TENTS
   background-color: rgba(218, 165,  32, 0.6);*/
.asia_tents,
/* Asia 
   background-color: rgba(255, 215, 0, 0.5);*/
/* TENTS
   background-color: rgba(218, 165,  32, 0.6);*/
.arab_tents {
   /* Arab
   background-color: rgba(128, 128, 0, 0.5);*/
   /* TENTS
   background-color: rgba(218, 165,  32, 0.6); DONE*/
   background-color: rgba(173, 146, 16, 0.55);

}

.ruins {
   background-color: rgba(122, 117, 109, 0.25);
}

.euro_ruins,
/*euro
   background-color: rgba(153, 50, 204, 0.5);*/
.aztec_ruins,
/* Aztec 
   background-color: rgba(220, 21, 61, 0.5);*/
.asia_ruins,
/* Asia 
   background-color: rgba(255, 215, 0, 0.5);*/
.arab_ruins,
/* Arab
   background-color: rgba(128, 128, 0, 0.5);*/
.nomad_ruins,
/* NOMAD
   background-color: rgba(84, 204, 54, 0.5); */
.tents_ruins {
   /* TENTS
   background-color: rgba(218, 165,  32, 0.6);*/
   background-color: rgba(122, 117, 109, 0.5);

}


.cold {

   background-color: DarkCyan;
   background-color: rgba(0, 139, 139, 0.5);
}

.cool {
   background-color: MediumSpringGreen;
   background-color: rgba(0, 250, 154, 0.5);

}

.mid {
   background-color: lightgreen;
   background-color: rgba(144, 238, 144, 0.5);

}

.warm {
   background-color: ForestGreen;
   background-color: rgba(34, 139, 34, 0.5);
}

.tropic {
   background-color: olive;
   background-color: rgba(128, 128, 0, 0.5);
}
.heat {
   background-color: orange;
   background-color: rgba(144, 96, 0, 0.5);
}
.death {
   background-color: olive;
   background-color: rgba(96, 48, 0, 0.5);
}

.mountains,
.peaks {
   background-color: brown;
   background-image: url('../img/Icons.png');
   background-size: 400px 500px;
   background-position: 225px 450px;
   /* X and Y */
}

.peaks {
   background-position: 225px 400px;
}

.hills {
   background-color: tan;
   background-image: url('../img/Icons.png');
   background-size: 400px 400px;
   background-position: 115px 372px;
   /* X and Y */
}

.plains {
   background-color: lightgreen;
   background-image: url('../img/Icons.png');
   background-size: 390px 400px;
   background-position: 320px 280px;
}

.sea {
   background-color: MediumTurquoise;
}


.borreal {
   background-color: ForestGreen;
   background-image: url('../img/Icons.png');
   background-size: 420px 350px;
   background-position: 183px 264px;

}

.jungle {
   background-color: MediumSeaGreen;
   background-image: url('../img/Icons.png');
   background-size: 420px 350px;
   background-position: 125px 264px;

}

.coastal {
   background-color: Aquamarine;
}

.desert {
   background-color: PaleGoldenrod;
   background-image: url('../img/Icons.png');
   background-size: 450px 400px;
   background-position: 365px 275px;

}
.other {
   background-color: rgb(236, 137, 240);
   background-image: url('../img/Icons.png');
   background-size: 450px 400px;
   background-position: 365px 275px;

}

.lake {
   background-color: LightSkyBlue;
}


.taiga {
   background-color: DarkSlateGray;
   background-image: url('../img/Icons.png');
   background-size: 400px 350px;
   background-position: 294px 252px;

}

.swamp {
   background-color: Olive;
   background-image: url('../img/Icons.png');
   background-size: 400px 350px;
   background-position: 275px 161px;

}

.terraType {
   background-color: Red;
   background-image: url('../img/Icons.png');
   background-size: 500px 350px;
   background-position: 246px 175px;

}

.terraTypeother {
   background-color: purple;
   background-image: url('../img/Icons.png');
   background-size: 500px 350px;
   background-position: 196px 175px;
}


.trapezoidUL, .trapezoidU, .trapezoidUR, .trapezoidLL, .trapezoidL, .trapezoidLR {
   border-left: 25px solid transparent;
   border-right: 25px solid transparent;
   height: 0;
   width: 500px;
   position: absolute;
   z-index: 1;

}

.trapezoidUL {
   border-bottom: 80px solid red;
   top: 226px;
   left: -113px;
   transform: rotate(116.5deg);
   }

 .trapezoidU {
   border-bottom: 80px solid orange;
   top: 3px;
    left: 225px;
    transform: rotate(180deg);
   z-index: 1;
}

.trapezoidUR {
   border-bottom: 80px solid yellow;
   top: 224px;
   left: 562px;
   transform: rotate(243.5deg);
   }

 .trapezoidLL {
   border-bottom: 80px solid purple;
   top: 692px;
    left: -115px;
    transform: rotate(63.5deg);
   z-index: 1;
}

.trapezoidL {
   border-bottom: 80px solid blue;
   top: 916px;
    left: 227px;
    transform: rotate(0deg);
   }

 .trapezoidLR {
   border-bottom: 80px solid green;
   top: 696px;
    left: 577px;
    transform: rotate(296.5deg);
   z-index: 1;
}

.table {
   background: url('../img/hex2.jpg');
   background-size: 1000px 1000px;
   width: 1000px;
   height: 1000px;
   position: absolute;
   z-index: 3;
}

.table .title {
   color: rgba(240, 245, 245, 0.9);
   font-size: 18pt;
   position: absolute;
   left: 126px;
   top: -33px;
   z-index: 6;
}
.table .title2 {
   color: black;
   font-size: 18pt;
   position: absolute;
   left: 125px;
   top: -4px;
   z-index: 5;

}
.table .title3, .pledge, .locID  {
   color: black;
   font-size: 30pt;
   position: absolute;
   left: 300px;
   top: 150px;
   z-index: 5;

}

.pledge {
   left: 310px;
    top: 95px;
}
.locID {
   left: 645px; 
   top: 95px;
}

.table .text {margin-top: 200px; width: 70%; margin-left: 15%; background: #eee; z-index: 8;  font-size: 28pt;}
.table .mainText {margin-top: 600px; width: 80%; margin-left: 10%; background: #eee; z-index: 8;  font-size: 28pt;}

.table .desc {
   top: 60px;
   left: 180px;
   border: 1px solid grey;
   border-radius: 5px;
   background: #eee;
   position: absolute;
   width: 55%;
   z-index: 7;
   font-size: 20pt;
}
.innersea {
   top: 234px;
   right: -37px;
}
.innercoastal {
   top: 158px;
   right: -37px;
}
.innerswamp {
   top: 158px;
   right: 91px;
}
.innerdesert {
   top: -30px;
   right: 27px;
}
.innerplains {
   top: 46px;
   right: 27px;
}
.innertaiga{
   top: 83px;
   right: -37px;
}
.innerjungle {
   top: 121px;
   right: 27px;
}
.innerother {
   top: 121px;
   right: 91px;
}

.innerborreal {
   top: 83px;
   right: 91px;
}
.innerhills {
   top: 8px;
   right: 91px;
}
.innermountains {
   top: -30px;
   left: 580px;
}

.gridChosen {
   width: 130px;
   height: 130px;
   margin-left: -45px;
}

.gridChosen > .gridImg {
   background-size: 130px 130px;
}
.gridChosen > .gridImg > .terrain {
   width: 90px;
   height: 90px;
}

button {

   font-size: 16pt;
}

.euroIcon, .aztecIcon, .asiaIcon, .nomadIcon, .tentsIcon, .ruinsIcon {
   background-color: purple;
   background-image: url('../img/styles.png');
   background-size: 750px 750px;
 
}
.euroIcon, .aztecIcon, .asiaIcon, .nomadIcon, .tentsIcon, .ruinsIcon,
.euroLoc, .aztecLoc, .asiaLoc, .nomadLoc, .tentsLoc, .ruinsLoc {
   width: 180px;
   height: 120px
}
.euroLoc, .aztecLoc, .asiaLoc, .nomadLoc, .tentsLoc, .ruinsLoc {
   top: 25px;
   left: 25px;
}

.euroIcon {
   background-position: 735px 0px; 
}
 .aztecIcon{
   background-position: 735px 446px; 
}
.arabIcon{
   background-position: 735px 605px;
   width: 185px;
   height: 140px; 
}
.asiaIcon{
   background-position: 735px 184px; 
}
.nomadIcon{
   background-position: 735px 465px; 
}
.tentsIcon{
   background-position: 735px 315px; 
} 
.ruinsIcon{
   background-position: 119px 440px; 
}

.ruinsIcon {
   background-color: purple;
   background-image: url('../img/icons.png');
   background-size: 500px 350px;
   background-position: 196px 175px;
}
/* JSON Pretty Stringify */
pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }

.coldlevel,
.coollevel,
.midlevel,
.warmlevel,
.arcticlevel,
.anylevel,
.tropiclevel,
.heatlevel,
.deathlevel {
   width: 100px;
   height: 25px;
   position: absolute;
   left: 35px;
}

.arcticlevel{ top: 175px;}
.coldlevel { top: 200px;}
.coollevel{ top: 225px;}
.midlevel{ top: 250px;}
.warmlevel{ top: 275px;}

.tropiclevel{ top: 300px;}
.heatlevel{ top: 325px;}
.deathlevel{ top: 350px;}
.anylevel{ top: 375px;}
